html {
<<<<<<< HEAD
  font-size: 13px;
}
@media (min-width: 480px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
=======
    font-size: 13px;
  }
  @media (min-width: 480px) {
    html {
      font-size: 14px;
    }
  }
  @media (min-width: 768px) {
    html {
      font-size: 15px;
    }
  }
  @media (min-width: 1024px) {
    html {
      font-size: 16px;
    }
  }
>>>>>>> bb06a10f6bee3357cd0cb32847d6c56056e39822
